.App {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  padding-top: 5rem;
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Components { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.entry-fields {
  text-align: left;
  padding: 0.5rem 1rem;
}

.date-selector { 
  display: flex; 
  padding: 0.5rem 10rem; 
}

.date-fields {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 860px) {
  .App-Components { 
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (max-width: 811px) { 
  .App-Components { 
    flex-direction: column;
    align-items: center;
  }

  .date-fields {
    flex-direction: row;
    justify-content: space-between;
  }
}

.submit-button {
  color: #000e2b;
}